{% extends "TicketingBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {% trans %}Paiement{% endtrans %}
{% endblock %}

{% block content %}



    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message|trans }}</div>
    {% endfor %}


    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-error">Message flash : {{ message|trans }}</div>
    {% endfor %}


    {% if order %}
            <div id="container">
                <div id="welcome">
                    <h2>{% trans %}Récapitulatif de votre commande pour votre visite du musée du Louvre :{% endtrans %}</h2>
                </div>


                <div style="margin-top: 30px">
                    <p><strong>{% trans %}Date de la visite :{% endtrans %}</strong> {{ order.bookingDate|date("d/m/y") }}</p>
                </div>


                <div class="tab-content" id="orderSummary">
                    <div class="tab-pane fade in active adminTable">

                            <div class="table-responsive" id="ticketsSummary">
                            <table class="table table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th class="text-center">{% trans %}Billet{% endtrans %}</th>
                                    <th class="text-center">{% trans %}Tarif réduit{% endtrans %}</th>
                                    <th class="text-center">{% trans %}Nomination{% endtrans %}</th>
                                    <th class="text-center">{% trans %}Quantité{% endtrans %}</th>
                                    <th class="text-center">{% trans %}Tarif retenu{% endtrans %}</th>
                                </tr>
                                </thead>
                                {% for ticket in order.tickets %}
                                    <tr>
                                        <td>{% if  ticket.type == 1  %}
                                                <p>{% trans %}Journée{% endtrans %}</p>
                                            {% else %}
                                                <p>{% trans %}Demi-journée{% endtrans %}</p>
                                            {% endif %}
                                        </td>
                                        <td>{% if  ticket.reducedPrice == 1  %}
                                                <p>{% trans %}Oui{% endtrans %}</p>
                                            {% else %}
                                                <p>{% trans %}Non{% endtrans %}</p>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ ticket.firstName }} {{ ticket.lastName }}</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">{{ ticket.Price|number_format(2, ',', '') }}€</td>

                                    </tr>
                                {% endfor %}
                            </table>
                            </div>
                            <div class="table-responsive col-sm-offset-6 col-sm-6" id="totalSummary">
                                <table class="table table-hover table-condensed">

                                    <tr>
                                        <th class="text-center" style="font-weight: normal;">{% trans %}Total HT{% endtrans %}</th>
                                        <td class="text-center">{{ (order.orderAmount / 1.1)|number_format(2, ',', '') }}€</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center" style="font-weight: normal;">{% trans %}Total TVA (10,00%){% endtrans %}</th>
                                        <td class="text-center">{{ (order.orderAmount - order.orderAmount / 1.1)|number_format(2, ',', '')}}€</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">{% trans %}Total de la commande TTC{% endtrans %}</th>
                                        <td class="text-center"><strong>{{ order.orderAmount|number_format(2, ',', '') }}€</strong></td>
                                    </tr>
                                </table>
                            </div>
                    </div>
                </div>





                <div class="row" id="paiement-navigation">
                    <div class="text-center">
                        <div class="col-sm-6 page-item">
                            <button type="button" class="btn btn-secondary">
                                <a href="{{ path('ticketing_booking') }}" style="text-decoration: none">{% trans %}Modifier mes informations{% endtrans %}</a>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <form action="{{ path ('ticketing_ckeckout') }}" method="POST">
                                <script
                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="pk_test_QGAVTYmmjlNMeq41SwQH6bz9"
                                        data-amount="{{ order.orderAmount*100 }}"
                                        data-name="{% trans %}Musée du Louvre{% endtrans %}"
                                        data-description="{% trans %}Paiement en ligne{% endtrans %}"
                                        data-image="{{ asset('images/louvre-icon.jpg') }}"
                                        data-locale="auto"
                                        data-zip-code="false"
                                        data-currency="eur"
                                        data-label="{% trans %}Paiement par carte{% endtrans %}"
                                        data-allow-remember-me="false">
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

    {% else %}
        <div class="alert alert-warning">{% trans %}Pas de commande{% endtrans %}</div>
        <div class="row" id="paiement-navigation">
            <div class="text-center">
                <div class="col-sm-6 page-item">
                    <button type="button" class="btn btn-secondary">
                        <a href="{{ path('ticketing_booking') }}" style="text-decoration: none">{% trans %}Retour{% endtrans %}</a>
                    </button>
                </div>
            </div>
        </div>

    {% endif %}



{% endblock %}