{% extends "TicketingBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {% trans %}ticketing.paymentPage.payment{% endtrans %}
{% endblock %}

{% block content %}


    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-error">{{ message|trans }}</div>
    {% endfor %}

    {% if order %}
            <div id="container">
                <div id="welcome">
                    <h2>{% trans %}ticketing.paymentPage.orderSummary{% endtrans %}</h2>
                </div>


                <div style="margin-top: 30px">
                    <p><strong>{% trans %}ticketing.paymentPage.visitDate{% endtrans %}</strong> {{ order.bookingDate|localizeddate('medium','none',locale) }}</p>
                </div>


                <div class="tab-content" id="orderSummary">
                    <div class="tab-pane fade in active adminTable">

                            <div class="table-responsive" id="ticketsSummary">
                            <table class="table table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.ticket{% endtrans %}</th>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.reducedPrice{% endtrans %}</th>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.name{% endtrans %}</th>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.quantity{% endtrans %}</th>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.price{% endtrans %}</th>
                                </tr>
                                </thead>
                                {% for ticket in order.tickets %}
                                    <tr>
                                        <td>{% if  ticket.type == 1  %}
                                                <p>{% trans %}ticketing.paymentPage.fullDay{% endtrans %}</p>
                                            {% else %}
                                                <p>{% trans %}ticketing.paymentPage.halfDay{% endtrans %}</p>
                                            {% endif %}
                                        </td>
                                        <td>{% if  ticket.reducedPrice == 1  %}
                                                <p>{% trans %}ticketing.paymentPage.yes{% endtrans %}</p>
                                            {% else %}
                                                <p>{% trans %}ticketing.paymentPage.no{% endtrans %}</p>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ ticket.firstName }} {{ ticket.lastName }}</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">{{ ticket.Price|number_format(2, ',', '') }}€</td>

                                    </tr>
                                {% endfor %}
                            </table>
                            </div>
                            <div class="table-responsive col-sm-offset-6 col-sm-6" id="totalSummary">
                                <table class="table table-hover table-condensed">

                                    <tr>
                                        <th class="text-center" style="font-weight: normal;">{% trans %}ticketing.paymentPage.beforeVAT{% endtrans %}</th>
                                        <td class="text-center">{{ (order.orderAmount / 1.1)|number_format(2, ',', '') }}€</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center" style="font-weight: normal;">{% trans %}ticketing.paymentPage.afterVAT{% endtrans %}</th>
                                        <td class="text-center">{{ (order.orderAmount - order.orderAmount / 1.1)|number_format(2, ',', '')}}€</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">{% trans %}ticketing.paymentPage.totalOrder{% endtrans %}</th>
                                        <td class="text-center"><strong>{{ order.orderAmount|number_format(2, ',', '') }}€</strong></td>
                                    </tr>
                                </table>
                            </div>
                    </div>
                </div>





                <div class="row" id="paiement-navigation">
                    <div class="text-center">
                        <div class="col-sm-6 page-item">
                            <button type="button" class="btn btn-secondary">
                                <a href="{{ path('ticketing_booking') }}" style="text-decoration: none">{% trans %}ticketing.paymentPage.changeInfo{% endtrans %}</a>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            {#<script src="https://js.stripe.com/v3/"></script>

                            <form action="{{ path ('ticketing_ckeckout') }}" method="post" id="stripeForm">
                                <div class="form-row">
                                    <label for="card-element">
                                        Credit or debit card
                                    </label>
                                    <div id="card-element">
                                        <!-- a Stripe Element will be inserted here. -->
                                    </div>

                                    <!-- Used to display form errors -->
                                    <div id="card-errors" role="alert"></div>
                                </div>

                                <button>Submit Payment</button>
                            </form>#}


                            <form action="{{ path ('ticketing_ckeckout') }}" method="POST" id="stripeForm">
                                <div id="hiddenStripe">
                                <input type="text" id="order_tickets_0_firstName" name="stripeToken"  value="">
                                <input type="text" id="order_tickets_0_firstName" name="stripeTokenType"  value="">
                                <input type="text" id="order_tickets_0_firstName" name="stripeEmail"  value="">
                                <input type="text" id="order_tickets_0_firstName" name="status"  value="">
                                </div>
                                <script
                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="pk_test_QGAVTYmmjlNMeq41SwQH6bz9"
                                        data-amount="{{ order.orderAmount*100 }}"
                                        data-name="{% trans %}ticketing.paymentPage.stripe.name{% endtrans %}"
                                        data-description="{% trans %}ticketing.paymentPage.stripe.description{% endtrans %}"
                                        data-image="{{ asset('images/louvre-icon.jpg') }}"
                                        data-locale="{{ locale }}"
                                        data-zip-code="false"
                                        data-currency="eur"
                                        data-label="{% trans %}ticketing.paymentPage.stripe.label{% endtrans %}"
                                        data-allow-remember-me="false">
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

    {% else %}
        <div class="alert alert-warning">{% trans %}ticketing.paymentPage.noOrder{% endtrans %}</div>
        <div class="row">
            <div class="text-center">
                <div class="col-sm-6 page-item">
                    <button type="button" class="btn btn-secondary">
                        <a href="{{ path('ticketing_booking') }}" style="text-decoration: none">{% trans %}ticketing.paymentPage.back{% endtrans %}</a>
                    </button>
                </div>
            </div>
        </div>

    {% endif %}



{% endblock %}