{% extends "TicketingBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Récapitulatif
{% endblock %}

{% block content %}



    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-sucess">Message flash : {{ message }}</div>
    {% endfor %}

    <div>Le musée du Louvre vous remercie pour votre commande et sera heureux de vous accueillir le {{ order.bookingDate|date("d/m/y") }}.</div><br>

    {% if qty > 1 %}
        <div>Vos e-billets ainsi que votre facture vous ont été envoyés à votre adresse email : {{ email }}.</div>
    {% else %}
        <div>Votre e-billet ainsi que votre facture vous ont été envoyés à votre adresse email : {{ email }}.</div>
    {% endif %}


{% endblock %}