{% extends "TicketingBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {% trans %}ticketing.summayPage.summary{% endtrans %}
{% endblock %}

{% block content %}



    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ message|trans }}</div>
    {% endfor %}

    {% if order %}
    <div>{% trans %}ticketing.summayPage.thankyou{% endtrans %} {{ order.bookingDate|date("d/m/y") }}.</div><br>
    {% endif %}

    {% if email %}
    {% if qty > 1 %}
        <div>{% trans %}ticketing.summayPage.tickets{% endtrans %} {{ email }}.</div>
    {% else %}
        <div>{% trans %}ticketing.summayPage.ticket{% endtrans %} {{ email }}.</div>
    {% endif %}
    {% endif %}

{% endblock %}