{% extends "TicketingBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {% trans %}ticketing.summayPage.summary{% endtrans %}
{% endblock %}

{% block content %}



    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ message|trans }}</div>
    {% endfor %}

    {% if email %}
        <div>{% trans %}ticketing.summaryPage.thankyou{% endtrans %} {{ order.bookingDate|localizeddate('medium','none',locale) }}.</div><br>



        {% if qty > 1 %}
            <div>{% trans %}ticketing.summaryPage.tickets{% endtrans %} {{ email }}.</div>
        {% else %}
            <div>{% trans %}ticketing.summaryPage.ticket{% endtrans %} {{ email }}.</div>
        {% endif %}
    {% else %}
        <div>{% trans %}ticketing.summaryPage.notpaidyet{% endtrans %}</div>
    {% endif %}


    <div class="col-sm-6 page-item" style="margin-top:20px">
        <button type="button" class="btn btn-secondary">
            <a href="{{ path('ticketing_booking') }}" style="text-decoration: none">{% trans %}ticketing.summaryPage.backHome{% endtrans %}</a>
        </button>
    </div>

{% endblock %}