{% extends "TicketingBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {% trans %}Récapitulatif{% endtrans %}
{% endblock %}

{% block content %}



    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">Message flash : {{ message|trans }}</div>
    {% endfor %}

    {% if order %}
    <div>{% trans %}Le musée du Louvre vous remercie pour votre commande et sera heureux de vous accueillir le{% endtrans %} {{ order.bookingDate|date("d/m/y") }}.</div><br>
    {% endif %}

    {% if email %}
    {% if qty > 1 %}
        <div>{% trans %}Vos e-billets ainsi que le récapitulatif de votre commande vous ont été envoyés à votre adresse email :{% endtrans %} {{ email }}.</div>
    {% else %}
        <div>{% trans %}Votre e-billet ainsi que le récapitulatif de votre commande vous ont été envoyés à votre adresse email :{% endtrans %} {{ email }}.</div>
    {% endif %}
    {% endif %}

{% endblock %}