{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="well">
    {{ form_start(form, {'attr':{'class':'orderForm'}}) }}

    {{ form_row(form.bookingDate)}}

    {{ form_row(form.quantity)}}

    <hr>

    {{ form_row(form.tickets)}}
    {{ form_widget(form.tickets)}}
    {{ form_errors(form.tickets)}}


    <br>



    <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" id="validate-btn"  value="{% trans %}ticketing.orderTypeFormPage.paymentBtn{% endtrans %}" />
    </div>

    {{ form_end(form) }}
</div>