{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="well">
    {{ form_start(form, {'attr' : {'id' : 'myForm'}}) }}

    {{ form_row(form.bookingDate)}}

    {{ form_row(form.quantity)}}

    <hr>



    {{ form_widget(form.tickets)}}
    {{ form_errors(form.tickets)}}



    <br>
    <div class="text-center col-sm-offset-4 col-sm-2 page-item" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-success" id="addTicket-btn"  value="" >{% trans %}ticketing.orderTypeFormPage.addTicketBtn{% endtrans %}</button>
    </div>

    <div class="text-center col-sm-2  page-item">
        <button type="submit" class="btn btn-primary" id="validate-btn" value="validate-btn" >{% trans %}ticketing.orderTypeFormPage.paymentBtn{% endtrans %}</button>
    </div>

    {{ form_end(form) }}
</div>