

    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
        <div id="container">
            <div id="welcome">
                <h2>Récapitulatif de votre commande pour votre visite du musée du Louvre :</h2>
            </div>

            <div style="margin-top: 30px">
                <p><strong>Date de la visite :</strong> {{ order.bookingDate|date("d/m/y") }}</p>
                <p><strong>Référence de la commande :</strong>  {{ order.bookingCode }}</p>
            </div>

            <div class="tab-content" id="orderSummary">
                <div class="tab-pane fade in active adminTable">
                        <div class="table-responsive" id="ticketsSummary">
                            <table class="table table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th style="text-align: center">Billet</th>
                                    <th style="text-align: center">Tarif réduit</th>
                                    <th style="text-align: center">Nomination</th>
                                    <th style="text-align: center">Quantité</th>
                                    <th style="text-align: center">Tarif retenu</th>
                                </tr>
                                </thead>
                                {% for ticket in order.tickets %}
                                    <tr>
                                        <td>{% if  ticket.type == 1  %}
                                                <p style="text-align: center">Journée</p>
                                            {% else %}
                                                <p style="text-align: center">Demi-journée</p>
                                            {% endif %}
                                        </td>
                                        <td>{% if  ticket.reducedPrice == 1  %}
                                                <p style="text-align: center">Oui</p>
                                            {% else %}
                                                <p style="text-align: center">Non</p>
                                            {% endif %}
                                        </td>
                                        <td style="text-align: center">{{ ticket.firstName }} {{ ticket.lastName }}</td>
                                        <td style="text-align: center">1</td>
                                        <td style="text-align: center">{{ ticket.Price|number_format(2, ',', '') }}€</td>

                                    </tr>
                            </table>
                        </div>
                        <div class="table-responsive col-sm-offset-6 col-sm-6" id="totalSummary">
                            <table class="table table-hover table-condensed">

                                <tr>
                                    <th class="text-center" style="font-weight: normal;">Total HT</th>
                                    <td class="text-center">{{ (order.orderAmount / 1.1)|number_format(2, ',', '') }}€</td>
                                </tr>
                                <tr>
                                    <th class="text-center" style="font-weight: normal;">Total TVA (10,00%)</th>
                                    <td class="text-center">{{ (order.orderAmount - order.orderAmount / 1.1)|number_format(2, ',', '')}}€</td>
                                </tr>
                                <tr>
                                    <th class="text-center">Total de la commande</th>
                                    <td class="text-center"><strong>{{ order.orderAmount|number_format(2, ',', '') }}€</strong></td>
                                </tr>
                            </table>
                        </div>
                </div>
            </div>



            <p>Nous vous souhaitons une très bonne visite du musée !</p>

            <p>--  L'équipe du musée du Louvre  --</p>
        </div>
    </div>




