

    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">


        <div id="container">
            <div id="welcome">
                <img src="http://musee-du-louvre.parlow-co.fr/web/images/louvre_logo.jpg" class="img-responsive">
                <h2>{% trans %}ticketing.paymentPage.orderSummary{% endtrans %}</h2>
            </div>

            <div style="margin-top: 30px">
                <p><strong>{% trans %}ticketing.paymentPage.visitDate{% endtrans %}</strong> {{ order.bookingDate|localizeddate('medium','none',locale) }}</p>
                <p><strong>{% trans %}ticketing.email.orderRef{% endtrans %}</strong>  {{ order.bookingCode }}</p>
            </div>

            <div class="tab-content" id="orderSummary">
                <div class="tab-pane fade in active adminTable">
                        <div class="table-responsive" id="ticketsSummary">
                            <table class="table table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.ticket{% endtrans %}</th>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.reducedPrice{% endtrans %}</th>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.name{% endtrans %}</th>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.quantity{% endtrans %}</th>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.price{% endtrans %}</th>
                                </tr>
                                </thead>
                                {% for ticket in order.tickets %}
                                    <tr>
                                        <td>{% if  ticket.type == 1  %}
                                                <p>{% trans %}ticketing.paymentPage.fullDay{% endtrans %}</p>
                                            {% else %}
                                                <p>{% trans %}ticketing.paymentPage.halfDay{% endtrans %}</p>
                                            {% endif %}
                                        </td>
                                        <td>{% if  ticket.reducedPrice == 1  %}
                                                <p>{% trans %}ticketing.paymentPage.yes{% endtrans %}</p>
                                            {% else %}
                                                <p>{% trans %}ticketing.paymentPage.no{% endtrans %}</p>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ ticket.firstName }} {{ ticket.lastName }}</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">{{ ticket.Price|number_format(2, ',', '') }}€</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="table-responsive col-sm-offset-6 col-sm-6" id="totalSummary">
                            <table class="table table-hover table-condensed">

                                <tr>
                                    <th class="text-center" style="font-weight: normal;">{% trans %}ticketing.paymentPage.beforeVAT{% endtrans %}</th>
                                    <td class="text-center">{{ (order.orderAmount / 1.1)|number_format(2, ',', '') }}€</td>
                                </tr>
                                <tr>
                                    <th class="text-center" style="font-weight: normal;">{% trans %}ticketing.paymentPage.afterVAT{% endtrans %}</th>
                                    <td class="text-center">{{ (order.orderAmount - order.orderAmount / 1.1)|number_format(2, ',', '')}}€</td>
                                </tr>
                                <tr>
                                    <th class="text-center">{% trans %}ticketing.paymentPage.totalOrder{% endtrans %}</th>
                                    <td class="text-center"><strong>{{ order.orderAmount|number_format(2, ',', '') }}€</strong></td>
                                </tr>
                            </table>
                        </div>
                </div>
            </div>



            <p>{% trans %}ticketing.email.bye{% endtrans %}</p>

            <p>--  {% trans %}ticketing.email.team{% endtrans %}  --</p>
        </div>
    </div>




